#mytable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(106, 0, 228);

    table-layout: fixed;
}

#mytable td,
#mytable th {
    border: 1px solid rgb(106, 0, 228);
    padding: 8px;
    width: 100px;
    text-align: center;
}

#mytable tr:first-child { font-weight: bold;}